{
  "name": <%=config[:name].inspect%>,
  "description": "A basic node CLI app",
  "license": "MIT",
  "repository" : {
    "type": "git", 
    "url": "https://github.com/<%=config[:author]%>/<%=config[:name]%>"
  },

  "version": "0.2.0",

  "main" : "./lib/<%=config[:name]%>.js",
  "bin": {
    "hello_app": "./bin/<%=config[:name]%>"
  },
  "preferGlobal": true,

  "scripts": {
    "start": "node lib/<%=config[:name]%>.js"
  },

  "dependencies": {
    "is-there": "*"
  }
}

