// Put your javascript code here

var appRoot = require('path').resolve(__dirname + "/..");
var config = require(appRoot + '/lib/hello_app/config.js');

// console.log(process.env.special_msg);
console.log(process.env.error_msg);
